.title {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: white;
  width: 100%;
}
.title h1 {
  color: red;
  font-family: consolas;
  letter-spacing: 1px;
  margin-left: 5px;
  align-items: center;
  justify-content: center;
}

.padre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 10px;
}
.padre .display {
  margin-top: 20px;
}

.display {
  position: relative;
  width: 300px;
  height: 300px;
  background: #1a1a1f;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5;
  color: #fff;
  border-radius: 25px;
  cursor: pointer;
  justify-content: center;
  overflow: hidden;
}
/* footer section {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}
footer .left ul {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.8rem;
  list-style: none;
}
.left li {
  margin: 3px 0;
}

footer .right ul {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.8rem;
  list-style: none;
}
.right li {
  margin: 3px 0;
} */
